* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--primary-background-color);
}

:root {
    --primary-background-color: #008F7A;
}

.navbar {
    background-color: var(--primary-background-color);
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.searchLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}


.searchLocation button {
    background-color: transparent;
    border: none;
    outline: none;
}

#search {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;

    margin-right: -2rem;
}

.currentLocation button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    outline: none;
}

.shareLocation button{
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #FF9671;
}

.mapShare {
    background-color: var(--primary-background-color);
    padding: 10px;
}

.map {
    border: 1px solid black;
    background-color: black;
    color: white;
    max-width: 45rem;
    margin: 0 auto;
    overflow: visible;
    height: 30rem;
}

.map p {
    text-align: center;
    margin: 40% 0;
}

#share-controls {
    width: 50rem;
}

#share-link[value*="Sharable link."] {
    padding: 1rem 32%;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    text-overflow: unset;
    overflow: visible;
    white-space: normal;
}


#share-btn {
    margin-top: 15px;
    padding: 10px;
    background-color: #FF9671;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}


/*-------------------------------------------------------------------------*/
/*Loader*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 239, 239, 0.75);
    z-index: 10;
}

.loader {
    width: 50%;
    height: 12px;
    border-radius: 20px;
    color: #1a1a1c;
    border: 2px solid;
    position: relative;
    z-index: 11;

    top: 50vh;
    left: 25vw;
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
}

@keyframes l6 {
    100% {
        inset: 0
    }
}